<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
  <meta charset="UTF-8">
  <title>Stroke Predict Model</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/style.css">

</head>

<body class="homebody">
  <div class="header">
    <div class="menulist">
      <a href="/"><input type="submit" value="Home"></a>
      <form method="POST" , action="{{url_for('prediction')}}">
        <input type="submit" , value='Prediction'>
      </form>
      <form method="POST" , action="{{url_for('recommendation')}}">
        <input type="submit" , value='Recommendation'>
      </form>
    </div>
  </div>
  <div class="login">
    <h1>Welcome to Movie Prediction and Recommendation System</h1>
    <p><br>Developed by<br>Fariq Rahman F | Ahilesh P K | Samar K | Hariprasanth P M | Jawahar R</p>
    <p><br>Mentor : Dr.N.Saranya</p><br>
    <div class="model">
      <form method="POST" , action="{{url_for('prediction')}}">
        <input type="submit" , value='Predict Movies !'>
      </form>
      <form method="POST" , action="{{url_for('recommendation')}}">
        <input type="submit" , value='Recommend Movies !'>
      </form>
    </div>
  </div>
</body>