<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
  <meta charset="UTF-8">
  <title>Stroke Predict Model</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/style.css">

</head>

<body>
  <div class="header">
    <div class="menulist">
      <a href="/"><input type="submit" value="Home"></a>
      <form method="POST" , action="{{url_for('prediction')}}">
        <input type="submit" , value='Prediction'>
      </form>
      <form id="menu" method="POST" , action="{{url_for('recommendation')}}">
        <input type="submit" , value='Recommendation'>
      </form>
    </div>
  </div>

    <div class="login">
      <h1>This is Recommendation Output Page</h1>
    </div>
</body>

</html>